# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hr_rec_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MongoDB (Raw Parsed JSON)
MONGO_URI=mongodb://root:rootpassword@localhost:27017/?authSource=admin
MONGO_DB=hr_raw_docs

# RecSys & Embedding Model
EMBEDDING_MODEL=cointegrated/rubert-tiny2
